* {
    margin: 0;
    padding: 0;
  }
  
  #body {
    height: 100vh;
    background-image: url("../Img/Fundo.png");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: 90% 130%; 
    background-color: #003f5c;
  }
  